/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  @include clearfix;
  margin: 2em auto;
  text-align: center;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  color: lighten($text-color,20);
  a {
    color: lighten($text-color,20);
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;
  a {
    padding: 4px 8px;
    &:hover {
      color: $black;
    }
  }
}

.back-to-top {
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 7px;
  bottom: 20px;
  cursor: pointer;
  display: none;
  font-weight: bold;
  opacity: .8;
  padding: 3px 6px;
  position: fixed;
  right: 50px;
  z-index: 99999;
  span {
    cursor: pointer;
  }
}